html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#pre-footer .container {
    position: static;
    background: none
}
footer li {
    width: 100%;
    margin: 10px 0
}
#catalog .col-md-4 {
    height: 360px
}
#plastic-windows {
    padding: 40px 5px 80px 5px
}
.call-to-action-button {
    font-size: 10px
}
#about-company .col-md-6, #plastic-windows .col-md-6 {
    padding: 0 15px
}
#about-company h2 {
    margin-top: 15px
}
#topnavmobile {
    display: block
}
header {
    display: none
}
#top-section {
    margin: 0;
    height: auto!important;
    padding: 15px;
    background-attachment: fixed
}
.top-section-content {
    margin: 50px 0 100px 0
}
.top-section-content p {
    font-size: 20px
}
.top-section-content a {
    font-size: 18px
}
.nav-portfolio li {
    border-radius: 0!important;
    width: 100%;
    padding: 20px 0
}
.nav-portfolio li:first-child {
    border: solid 1px #cccccc;
}
.nav-portfolio li:last-child {
    border: solid 1px #cccccc;
}
.nav-portfolio li:not(:first-child) {
    border: solid 1px #cccccc;
    border-top: none
}
#contact-card {
    position: static;
    width: auto;
    margin: 0;
    box-shadow: none
}
#complectation li {
    margin: 5px 0;
    display: block
}
#other-options td {
    /*width: 100% !important;*/
    /*display: block;*/
    /*margin: 10px;*/
}
.demo-product-height, .demo-product-width {
    display: none;
}
.summary {
    padding: 10px;
}
.add-to-cart, .checkout {
    margin: 5px 0
}
.price .col-md-6 {
    padding: 0 20px
}
#contact-popup {
    width: 100%;
    padding: 5%
}
#top-section {
    background: url("../img/background-home.png");
    background-size: cover
}
#portfolio-body #top-section {
    background: url("../img/background-home.png");
    background-size: cover
}
#contacts-body #top-section {
    background: url("../img/background-home.png");
    background-size: cover
}
#about-company .col-md-6:nth-child(2) {
    padding: 0 15px
}
.type-option {
    width: 50%;
    float: left;
    line-height: 1em;
    padding: 10px 0
}
.mode-option {
    width: 50%;
    float: left
}
.type-option img {
    width: auto;
    height: 50px;
    margin-bottom: 15px
}
#other-options td {
    margin: 5px 0
}
.configurator {
    padding: 28px 25px
}
#other-options .argument {
    width: 40px
}
.container {
    width: 100%
}
#catalog {
    padding: 0 15px
}
#catalog .col-md-4 {
    width: 48%;
    margin: 1%;
    float: left
}
#catalog .col-md-4:nth-child(2) {
    margin: 1%
}
#plastic-windows .col-md-6 {
    padding: 0 35px
}

@media screen and (max-width: 425px) {
    #other-options td:last-child {
        display: block
    }
    #catalog .col-md-4 {
        width: 100%
    }
}